@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.container{
    background-image: url('/src/img/fondocard.jpg');
    width: 320px;
    display:inline-table ; 
    border-radius: 8px;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    font-family: 'Fredoka One';
    font-size: 20px;
    color: #000000;    
}

.img{
    width: 300px;
    height: 300px;
}

.container:hover{
    transform: translate(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.buttonCard{    
    padding: 5px 10px;
    background-color: red;
    font-size: 12px;
    border-radius: 8px;
    margin: 2px;
    transition: 0.2s;
    position:relative;
    left: 140px;      
}

.buttonCard:hover{
    background: #ff0000;
    box-shadow: 0 0 10px #ff0000, 0 0 40px #ff0000, 0 0 80px #ff0000;
}

.name{
    margin-top: 20px;
    margin-bottom: 10px;
}

.boton{
    height: 0px;
}

.species{
    position: relative;
    bottom: 20px;
    font-size: 18px;
}

.gender{
    text-align: center;
    position: relative;
    bottom: 35px;
    height: 20px;
    font-size: 18px;
}

.btn{    
     height: 0px;
}

.corazonbtn{    
    padding: 5px 8px;
    font-size: 12px;
    border-radius: 8px;
    margin: 2px;
    margin-left: 6px;
    margin-top: 4px;
    transition: 0.2s;
    position:relative;
    right: 140px;      
}

.corazonbtn:hover{
    background: #ff0000;
    box-shadow: 0 0 10px #ff0000, 0 0 40px #ff0000, 0 0 80px #ff0000;
}

    
    
