body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family:sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  background-image: url('img/back1.png');
  background-size: 128rem;
  background-attachment: fixed;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
