@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.info{
    background-color: aqua;
    border-radius: 20px;
    margin: 30px;
    padding: 5px;
    font-family:  'Righteous';
    font-size: 16px;
}

.titulo{
    text-decoration: underline;
}

.opinion{
    text-align: left;
    margin-left: 25px;
}

.opinion2{
    text-align: justify;
    padding: 1px;
}
